<ion-view class="forgot-password-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card forgot-password-container">
          <form name="otp_form" class="" novalidate style="text-align: center;">
          <span style="font-size: 15px;font-weight: 500;">Please enter OTP sent on your mobile. If you do not receive few minutes. Then please type any number then click on submit button for activating resend OTP</span>
            <div class="item item-body">
              <label class="item item-input">
                <input type="number" placeholder="OTP" name="user_otp" ng-model="otp" required>
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-positive button-block" ng-click="submitOTP(otp)" ng-disabled="resendStatus">
                Submit
              </button>
              <button type="button" class="button button-positive button-block" ng-click="resendOTP()" ng-disabled="!resendStatus" style="margin-top: 10px;">
                Resend
              </button>
            </div>
          </form>
        </div>
    </div>
  </ion-content>
</ion-view>
