<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content scroll="false">
    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="signup_form" class="" novalidate>
          <style type="text/css">  .item-select {
                                                width: 95%; /* Or whatever you'd like the width to be */
                                              }

                  .item-select select {
                    left: 0;
                  }</style>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Name" name="user_name" ng-model="user.name" required>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" required>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="mobile" name="user_mobile" ng-model="user.mobile" required>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Password" name="user_password" ng-model="user.password" required show-hide-input>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Password" name="user_password" ng-model="user.confirmpassword" required show-hide-input>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Address" name="user_address" ng-model="user.address" required>
              </label>
              <label class="item item-input item-select">
              <div class = "input-label">State</div>
                <!-- <input type="text" placeholder="State" name="user_state" ng-model="user.state" required> -->
                 <select name="user_state" ng-model="user.state" required>
                    <option value="" selected>Select a State</option>
                    <option ng-value="state.id" ng-repeat="state in states">{{state.name}}</option>
                    
                  </select>
              </label>

              <label class="item item-input item-select"> 
               <div class = "input-label">City</div>
                <select name="user_city" ng-model="user.city" required>
                  <option selected value='' >Select a City</option>
                  <option ng-repeat="city in citys" ng-value="city.id">{{city.name}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class = "input-label">Area</div>
                <select name="user_area" ng-model="user.area" required>
                  <option selected value='' >Select a Area</option>
                  <option ng-repeat="area in Areas" ng-value="area.id">{{area.name}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
              
                <div class = "input-label">WorkStatus</div>
                <select name="user_workStatus" ng-model="user.Status" required>
                  <option selected value='' > Select a WorkStatus  </option>
                  <option ng-repeat="s in Status" ng-value="s.id">{{s.name}}</option>
                </select>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="References" name="user_references" ng-model="user.references" >
              </label>
            </div>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="doSignUp()"  ng-disabled="signup_form.$invalid"> 
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
