.<ion-view class="signup-view auth-view" cache-view="false">
  <ion-content>

    <div class="row">
      <div class="col col-center">
        <div class="card sign-up-container">
          <form name="signup_form" class="" novalidate>
          <style type="text/css">  
          .item-select {
              width: 100%;
           }

          .item-select select {
                    left: 0;
           }
           </style>
            <div class="item item-body">
              <label class="item item-input">
                <input type="text" placeholder="Name" name="user_name" ng-model="user.name" ng-pattern="/^[a-zA-Z\-\_ ]*$/" minLength="3" maxLength="20" required>
              <span class="invalid" ng-show="!signup_form.user_name.$error.minLength && !signup_form.user_name.$error.maxLength && signup_form.user_name.$error.pattern && signup_form.user_name.$dirty">Invalid name</span>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email" name="user_email" ng-model="user.email" >
                <span class="invalid" ng-show=" signup_form.user_email.$error.email && signup_form.user_email.$dirty">Invalid email</span>
              </label>
              <label class="item item-input">
                <input type="number" placeholder="mobile" name="mobile" ng-model="user.mobile" ng-pattern="/^(\d)+$/" minLength="10" maxLength="10" required>
                <span class="invalid" ng-show="!signup_form.mobile.$error.minLength && !signup_form.mobile.$error.maxLength && signup_form.mobile.$error.pattern">Invalid Mobile No</span>
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Password" name="password" ng-model="user.password" minlength="5" maxlength="15" required show-hide-input>
                <span class="invalid" ng-show="!signup_form.password.$error.required && (signup_form.password.$error.minlength || signup_form.password.$error.maxlength) && signup_form.password.$dirty">Passwords must be between 5 and 15 characters.</span>
                <!-- <span class="invalid" ng-show="!signup_form.password.$error.required && signup_form.password.$error.pattern">Must contain one lower &amp; uppercase letter, and one non-alpha character(a number or a symbol.)</span> -->
              </label>
              <label class="item item-input" show-hide-container>
                <input type="password" placeholder="Confirm Password" name="confirmpassword" ng-model="user.confirmpassword" type="password" match="user.password" required show-hide-input>
                <span class="invalid" ng-show="signup_form.confirmpassword.$error.required && signup_form.confirmpassword.$dirty">Please confirm your password.</span>
                <span class="invalid" ng-show="!signup_form.confirmpassword.$error.required && signup_form.confirmpassword.$error.match && signup_form.password.$dirty">Passwords do not match.</span>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="Address" name="user_address" ng-model="user.address" required>
                <span class="invalid" ng-show="signup_form.user_address.$error.required && signup_form.user_address.$dirty">Address Required</span>
              </label>
              <label class="item item-input item-select">
              <div class = "input-label">State</div>
                <!-- <input type="text" placeholder="State" name="user_state" ng-model="user.state" required> -->
                 <select name="state" ng-model="user.state" ng-change="GetSelectedMasterCity(user.state)" required>
                    <option value="" selected>Select a State</option>
                    <option ng-value="state.id" ng-repeat="state in states">{{state.name}}</option>
                    
                  </select>
              </label>
              <label class="item item-input item-select">
              <div class = "input-label">Master City</div>
                 <select name="master_city" ng-disabled="!user.state" ng-model="user.master_city" ng-change="GetSelectedCities(user.master_city)" required>
                    <option value="" selected>Select a Master City</option>
                    <option ng-repeat="mc in masterCity" ng-value="mc.id">{{mc.name}}</option>
                    
                  </select>
              </label>

              <label class="item item-input item-select"> 
               <div class = "input-label">City</div>
                <select name="city" ng-model="user.city" ng-disabled="!user.master_city" ng-change="GetSelectedAreas(user.city)" required class="second_select">
                  <option selected value='' >Select a City</option>
                  <option ng-repeat="city in citys" ng-value="city.id">{{city.name}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class = "input-label">Area</div>
                <select name="area" ng-model="user.area" ng-disabled="!user.city" required  class="third_select">
                  <option selected value='' >Select a Area</option>
                  <option ng-repeat="area in Areas" ng-value="area.id">{{area.name}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
              
                <div class = "input-label">WorkStatus</div>
                <select name="workstatus" ng-model="user.Status" required class="fourth_select">
                  <option selected value='' > Select a WorkStatus  </option>
                  <option ng-repeat="s in Status" ng-value="s.id">{{s.name}}</option>
                </select>
              </label>
              <label class="item item-input">
                <input type="text" placeholder="References" name="user_references" ng-model="user.references" >
              </label>
            </div>
            <label>By clicking signup button you are agree to our <button ng-click="openBrowser()">terms and condition </button></label>
            <div class="item item-body bottom-content">
              <button type="submit" class="button button-assertive button-block" ng-click="doSignUp()"  ng-disabled="signup_form.$invalid"> 
                Sign Up
              </button>
            </div>
          </form>
        </div>
        <div class="alternative-actions">
          <a class="log-in button button-small button-clear button-light" ui-sref="auth.login">
            Log In
          </a>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
