<ion-view class="slider-view">
  <ion-nav-title>
    <span>Support</span>
  </ion-nav-title>
  <ion-content scroll="false">
    <ion-slide-box show-pager="true">
      <ion-slide ng-repeat="i in [1]">
        <div class="list card">
          <div class="item item-image">
            <img ng-src="http://lorempixel.com/300/200/nature?v={{i}}">
          </div>
          <div class="item item-body">
            <p> For any Enquiry/Suggestion/Complaint mail us on support@vegetablebazar.com <br>
            Give a Misscall on 7060339060  For Roorkee city incharge Mail on mohit.garg@vegetablebazar.com</p>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
