<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span></span>
  </ion-nav-title>
  <ion-content>

  <div class="card" ng-repeat="note in notes" style="margin-bottom: 10px;box-shadow: 3px 5px 5px rgb(182, 178, 178);">
   

    <div class="item">
           <!--  <h2>{{news.Role}}</h2> -->
              <h2 style="font-weight: 700;margin-bottom: 11px;"> {{note.payload.title | limitTo: 150}}</h2>
              <hr>
                        
              <p style="white-space: normal;"> {{ note.payload.body   }}
             </p>
             <div class="col" style="text-align: right;font-size: 25px;">
                <i class="icon ion-ios-trash-outline"  ng-click="deleteNote(note)" style="color: red;"></i>
              </div>

        </div>
  </div>
    
  </ion-content>
</ion-view>
