<ion-view title="">
    <ion-content padding="true" class="has-header">


      <form name="rechrge">
        <div class="heading_design"> 
          Payment Method :
        </div>
        <div class="list">        
        <ion-radio ng-repeat="pay in paymentMethodList" ng-change='GetSelectedPaymentMethod(paymethod)' ng-value="pay.value" ng-model="$parent.paymethod" ng-required>
          {{ pay.text }}
        </ion-radio>
        
      </div>
      <div class="list" ng-if="paymentmethod">
           
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">Beneficiary Name :</span>
              <input type="text" ng-model="bank.beneficer_name" ng-disabled="true">
            </label>   
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">Account No :</span>
              <input type="text" ng-model="bank.beneficer_acc_no" ng-disabled="true">
            </label>    
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">IFSC Code :</span>
              <input type="text" ng-model="bank.ifsc_code" ng-disabled="true">
            </label>   
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">Account Type :</span>
              <input type="text" ng-model="bank.beneficer_acc_type" ng-disabled="true">
            </label>   
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">Bank Name :</span>
              <input type="text" ng-model="bank.bank_name" ng-disabled="true">
            </label>  
            <label class="item item-input" style="padding-left: 5px;">
              <span class="input-label" style="width: 144px;">Branch Name :</span>
              <input type="text" ng-model="bank.branch_name" ng-disabled="true">
            </label>     
             
      </div> 

      <div style="margin-top: 42px;">
          <button type="button" class="button button-assertive button-block" ng-click="UpdatePaymentType(paymethod)"  ng-disabled="rechrge.$invalid || isDisabled">Update</button>
      </div>
      </form>

    </ion-content>
</ion-view> 
