<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="post-size-14px">
    <ion-nav-bar class="bar app-top-bar">
      <!-- <ion-nav-back-button>
      </ion-nav-back-button> -->
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <style >.header-badge{
                              top: -7px !important;
                              left: -11px !important;
                            }

              .bar-dark{
  background-color:rgba(0,0,0,0.1) !important;
}
      </style>
      
       <ion-nav-buttons side="right" >
       <a ui-sref="app.cart">
        <button  class="button button-icon button-clear ion-ios-cart" >
         <span class="badge badge-balanced header-badge" >{{sumofAll}}</span>
        </button>
</a>
      </ion-nav-buttons>
      
    </ion-nav-bar>
<!--     <ion-footer-bar align-title="left" class="bar.
    bar-dark"> <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
          
       <ion-nav-buttons side="right" >
       <a ui-sref="app.cart">
        <button  class="button button-icon button-clear ion-ios-cart" >
         <span class="badge badge-balanced header-badge" >{{totalitems}}</span>
        </button>
</a>
      </ion-nav-buttons></ion-footer-bar> -->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
    <ion-content>
      <ion-list>
        <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile">
          <div class="user-image-container col-center">
            <pre-img ratio="_1_1" helper-class="rounded-image">
              <img class="user-image" ng-src="img/icon.png" spinner-on-load>
            </pre-img>
          </div>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.fooditems.vegetableslist">
          <i class="icon ion-home"></i>
          <h2 class="menu-text">Home</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.balance">
          <i class="icon ion-social-bitcoin-outline"></i>
          <h2 class="menu-text">Balance</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.orders.currentOrders">
          <i class="icon ion-ios-list-outline"></i>
          <h2 class="menu-text">Order Details</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.profile">
          <i class="icon ion-ios-calculator-outline"></i>
          <h2 class="menu-text">Account Details</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.support">
          <i class="icon ion-wand"></i>
          <h2 class="menu-text">Support</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.recharge">
          <i class="icon ion-ios-albums-outline"></i>
          <h2 class="menu-text">Recharge Wallet</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.notification">
          <i class="icon ion-ios-paper-outline"></i>
          <h2 class="menu-text">Notification</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="auth.logout">
          <i class="icon ion-power"></i>
          <h2 class="menu-text">Logout</h2>
        </ion-item>
       <!--  
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.miscellaneous">
          <i class="icon ion-asterisk"></i>
          <h2 class="menu-text">Miscellaneous</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.forms">
          <i class="icon ion-document"></i>
          <h2 class="menu-text">Forms</h2>
        </ion-item>
        <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.settings">
          <i class="icon ion-gear-a"></i>
          <h2 class="menu-text">Settings</h2>
        </ion-item>
 -->
    </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
