<ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span></span>
  </ion-nav-title>
  <ion-content style="background-image:url('img/icon.png'); background-repeat: no-repeat;
   
    background-position: center;">
  <div class="list">
  <div class="category-bg"/>
          
    <div class="bookmarks-container">
    <div class="item item-divider shop-section-title">
        <span class="title-copy">Support :</span>
      </div>
      <div class="">
      
        <br>
        <div class="align-center">
          <div>For any Enquiry/Suggestion/Complaint
          mail us on <strong>{{ContactInfo.email}}</strong></div>
          <br>
          <div>Give a Misscall on <strong>
          {{ContactInfo.mobile}} </strong></div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>
