<!-- <ion-view class="feeds-categories-view">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Feeds Categories</span>
  </ion-nav-title>
  <ion-content> -->
<ion-view cache-view="false">
    <ion-tabs tabs-swipable class="tabs-stable tabs-icon-top">
        <ion-tab title="Current Orders" icon="ion-ios-list" ui-sref="app.orders.currentOrders" >
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Orders History" icon="ion-egg" ui-sref="app.orders.ordersHistory" >
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>