<ion-view view-title="" class="" cache-view="false">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div ng-if="products.length == 0">
      <div class="empty-cart">
        <i class="icon ion-ios-cart-outline"></i>
        <h3 class="no-products">There is no order here</h3>
      </div>
    </div>
    <div ng-if="products.length > 0">
      <div class="products-list">
        <div class="product-list-item" ng-repeat="product in products">
          <div class="row product-title-wrapper">
            <span class="product-title">{{product.name}}</span>
          </div>
          <div class="row product-content-wrapper">
            <div class="col col-25">
               <div class="product-picture">
                  <img ng-src="{{product.image_domain + product.image}}" check-image>
                </div>
             </div> 
              
                <div class="row remove-product-wrapper">
                 <div class="col col-center col-25 product-options-wrapper">
                  <div class=" select-option">
                   <!--  <select >
                      <option ng-repeat="i in [.25,.5,.75,1,1.5,2,2.5,3,3.5,4,4.5,5,5.5,6,6.5,7,7.5,8,8.5,9,9.5,10]"  value="{{i }}" ng-selected="product.quantity==i" >{{i + " kg"}}</option>
                    </select>  -->
                    <span>{{product.quantity + " " + product.quan}}</span>

                  </div>
                </div> 
                  <div class="col col-center col-50 select-option">
                    
                    <span >{{product.price + " Rs/" + product.quan}}</span></div>
                    <!-- <span class="remove-product-button" ng-click="removeProductFromCart(product)">Remove</span> -->
                    
                   
                   
                  </div>
                  <div class="col col-center col-25">
                    <span class="product-price">{{product.price*product.quantity}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row item item-divider shop-section-title">
        <span class="title-copy col col-center col-80">Total</span>
        <span class="checkout-total-price section-action right col  col-20 ">{{ total }} </span>
       
      </div>
      
      <div class="row padding" ng-if="cancelButton">
    
        <button class="button button-block button-energized checkout-btn"ng-click="go()">
          Cancel Order
        </button>
      
      </div>
    </div>
  </ion-content>
  </ion-view>
