<!-- <ion-view title="Fruits List">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="fruit in fruits">
                <img src="{{fruit.image}}">
                <h2>{{fruit.name}}</h2>
                <p>35 Rs/kg</p>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view> -->
<ion-view   class="feeds-categories-view" cache-view="false">
    <ion-content >
         <ion-list>
            <ion-item class="item-thumbnail-left"  ng-repeat="order in orders" ui-sref="app.orderDetails({orderType: 'old',id:order.id})">
                <img src="img/icon.png">
                 <h2>ORDTDRK{{10000+order.id}}v{{order.id}}</h2>
                <p>Total : {{order.total}} Rs</p>
                
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view>