<!-- <ion-view title="Fruits List">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="fruit in fruits">
                <img src="{{fruit.image}}">
                <h2>{{fruit.name}}</h2>
                <p>35 Rs/kg</p>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view> -->
<ion-view   class="feeds-categories-view" cache-view="false">
    <ion-content >
        <!-- <ion-list>
            <ion-item class="item-thumbnail-left col col-50" ng-repeat="vegetable in vegetables" >
             <a class="feed-category" ui-sref="app.category-feeds({categoryId: (category.title | slugify)})">
                <img src="{{vegetable.image}}">
                <h2>{{vegetable.name}}</h2>
                <p>20 rs/kg</p>
            </a>
            </ion-item>
           
        </ion-list> -->
       <style >.price-badge{
                              top: 30vw !important;
                              left: 30vw !important;
                              font-size: 3vw !important;
                              position: absolute;
                              border-radius: 50% !important;
                              background-color:rgba(255,0,0,0.5) !important;
                            }

              .bar-dark{
  background-color:rgba(0,0,0,0.1) !important;
}
      </style>
        <div class="row categories-list">
      <div ng-repeat="fruit in fruits" class="col col-50" ng-if="fruit.price!='' && fruit.price  !=0 && fruit.price != null">
         <a class="feed-category"  on-tap="showPopup(fruit.id,fruit.name,fruit.image,fruit.price)">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="{{fruit.image}}" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">{{fruit.name}}</span>
          <span class="badge badge-assertive price-badge " >{{fruit.price+ " rs/kg"}}</span>
        </a>
      </div>
    </div>
    </ion-content>
</ion-view>