<ion-view title="">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left" ng-repeat="fruit in fruits" on-tap="showPopup(fruit.id,fruit.name,fruit.hindi_name, fruit.image_domain,fruit.image,fruit.price,fruit.quan,fruit.unit)" ng-if="fruit.price">

                <img ng-src="{{fruit.image_domain + fruit.image}}" check-image>
                <h2>{{fruit.name}}</h2>
                <h2>{{fruit.hindi_name}}</h2>
                <p>{{fruit.price + " Rs/" + fruit.quan}}</p>
            </ion-item>
           
        </ion-list>
    </ion-content>
</ion-view> 
