<ion-view view-title="" class="">
<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <style type="text/css">  
          .item-select {
              width: 100%;
           }

          .item-select select {
                    left: 20;
           }
           </style>
    <form name="shipping_form" class="" novalidate>
    <div class="list">
      <div class="item item-divider shop-section-title">
        <span class="title-copy">Shipping Address</span>
      </div>
      
      <label class="item item-input item-floating-label">
        <span class="input-label">Address</span>
        <input type="text" ng-model="user.address" name="shipping_form.address" ng-disabled="true" placeholder="Address Line" required>
      </label>
      <label class="item item-input item-select">
              <div class = "input-label">State</div>
                 <select name="state" ng-model="user.state" ng-disabled="true" >
                    <option value="" selected>Select a State</option>
                    <option ng-value="state.id" ng-repeat="state in states"  ng-selected="state.id==user.state">{{state.name}}</option>
                    
                  </select>
              </label>

              <label class="item item-input item-select"> 
               <div class = "input-label">City</div>
               <!-- <input type="text" placeholder="City" name="user_city"  ng-disabled="true" ng-model="user.city" required> -->
                <select name="city" ng-model="user.city"  ng-disabled="true" class="second_select">
                  <!-- <option selected value='' >Select a City</option> -->
                  <option ng-repeat="city in citys" ng-value="city.id" ng-selected="city.id==user.city">{{city.name}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class = "input-label">Area</div>
                <select name="area" ng-model="user.area" required  ng-change="GetSelectedArea(user.area)" ng-disabled="true" class="third_select">
                  <option selected value='' >Select a Area</option>
                  <option ng-repeat="area in Areas" ng-value="area.id" ng-selected="area.id==user.area">{{area.name}}</option>
                </select>
              </label>
      <label class="item item-input item-select" style="border: 4px solid #790c2a;">
       <div class = "input-label">Delivery Time</div>
       <select ng-model="user.deliveryTime" ng-options="time.id as time.name for time in alltimings track by time.name" ng-selected="user.deliveryTime = alltimings[0]" ng-value="time.name" required></select>
      </label>
      <!-- <ion-toggle toggle-class="toggle-energized" ng-model="newAddress" ng-click="toggleClick($event)">change the address</ion-toggle> -->
      <div class="row padding">
        <button class="button button-block button-energized save-address-btn"  ng-disabled="shipping_form.$invalid || isDisabled" ng-click="go()" ng-if="sumofAll >=100" >
          Order
        </button>
      </div>
    </div>
    </form>
  </ion-content>
  </ion-view>