<ion-view  class="feeds-categories-view" cache-view="false">
    <ion-content >
        <!-- <ion-list>
            <ion-item class="item-thumbnail-left col col-50" ng-repeat="vegetable in vegetables" >
             <a class="feed-category" ui-sref="app.category-feeds({categoryId: (category.title | slugify)})">
                <img src="{{vegetable.image}}">
                <h2>{{vegetable.name}}</h2>
                <p>20 rs/kg</p>
            </a>
            </ion-item>
           
        </ion-list> -->
          <style >.price-badge{
                              top: 30vw !important;
                              left: 30vw !important;
                              font-size: 3vw !important;
                              position: absolute;
                              border-radius: 50% !important;
                              background-color:rgba(255,0,0,0.5) !important;
                            }

              .bar-dark{
  background-color:rgba(0,0,0,0.1) !important;
}
      </style>
        <div class="row categories-list">
      <div ng-repeat="vegetable in vegetables" ng-if="vegetable.price!='' && vegetable.price!=0 && vegetable.price!=null" class="col col-50">
        <a class="feed-category"  on-tap="showPopup(vegetable.id,vegetable.name,vegetable.image,vegetable.price)">
          <pre-img ratio="_1_1" helper-class="square-image">
            <img class="category-image" ng-src="{{vegetable.image}}" spinner-on-load>
          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title">{{vegetable.name}}</span>
           <span class="badge badge-assertive price-badge " >{{vegetable.price + " rs/kg"}}</span>
        </a>
      </div>
       
    </div>
    </ion-content>
</ion-view>