.col-logo
{
	    color: white;
    font-size: 3em;
    font-family: cursive;
}

/* Login
==================================*/
.hero .app-icon {
    margin-top: 50px;
    margin-bottom: 30px;
}
.hero .app-icon1 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.app-icon1 {
    background: url('../img/logo1.png') center no-repeat;
    height: 200px;
    width: auto;
    margin-top: -260px;
    margin-bottom: 30px;
}
.app-icon {
    background: url('../img/logo.png') center no-repeat;
    height: 200px;
    width: auto;
    margin-top: -260px;
    margin-bottom: 30px;
}

md-content {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.social-login {
    position: fixed;
    bottom: 0;
}

.multi-bg-outer .bg-overlay {
    background-color: rgb(239, 239, 239)!important;
}

.main-page .multi-bg-outer .bg-overlay {
    background-color: rgba(239, 239, 239, 0.5)!important;
}

md-input-container.md-icon-left {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text {
    color: transparent;
    border-color: black;
}
md-input-container.md-default-theme label, md-input-container label, md-input-container.md-default-theme ._md-placeholder, md-input-container ._md-placeholder {
    color: rgba(10, 10, 10, 0.84);
    font-size: 18px;
}
md-input-container.md-icon-left.md-input-focused > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-left.md-input-focused > label .md-placeholder, md-input-container.md-icon-left.md-input-has-placeholder > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-left.md-input-has-placeholder > label .md-placeholder, md-input-container.md-icon-left.md-input-has-value > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-left.md-input-has-value > label .md-placeholder, md-input-container.md-icon-right.md-input-focused > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-right.md-input-focused > label .md-placeholder, md-input-container.md-icon-right.md-input-has-placeholder > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-right.md-input-has-placeholder > label .md-placeholder, md-input-container.md-icon-right.md-input-has-value > label:not(.md-no-float):not(._md-container-ignore), md-input-container.md-icon-right.md-input-has-value > label .md-placeholder {
    width: calc((100% - 36px - 18px) / 0.75);
    font-size: 20px;
    color: #636D3F;
}

.margin-btn
{
    margin-left: 20px;
    margin-right: 20px;
}
.margin-btn-signup
{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

.button.button-orange {
    border-color: #FF6319;
    background-color: #FF8E4C;
    color: #fff;
}

.button.button-black {
    border-color: #0E0202;
    background-color: #333333;
    color: #fff;
}

.margin-btn a {
    color: black;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.button.disabled, .button[disabled] {
    opacity: .8;
}

.auth-view .row {
    height: auto;
}

.button.button-light.button-clear {
    color: #0C0C0C;
    font-size: 16px!important;
    font-weight: 700;
    margin-top: 17px;
}

.signup
{
        margin-top: -72px;
}

md-input-container.marginbottom {
        margin-bottom: -16px;
}
/*.bar.app-top-bar {
    background-color: #44D02A;
}*/

.bookmarks-view .empty-results .no-bookmarks {
    color: #676161;
    font-size: 32px;
    margin-top: 39px;
}
md-select.md-default-theme ._md-select-value, md-select ._md-select-value {
    border-bottom-color: rgb(0, 0, 0);
}
md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgba(255, 255, 255, 0.05);
}
.signup-view md-content.md-default-theme, .signup-view md-content {
   padding-bottom: 30px;
}

.invalid
{
    color: red;
}

.md-select-menu-container.md-active md-select-menu > * {
    background-color: white;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
    display: block;
    padding-top: 2px;
    padding-left: 0;
    height: 34px;
    color: #111;
    vertical-align: middle;
    font-size: 23px;
    line-height: 16px;
}
md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-bottom-color: rgb(0, 0, 0);
}
